/* PALETA DE COLORES */
$cnegro: black;
$cblanco: white;
$caqua: #1a94aa ;
$caquadeg: #1a94aa6b ;
$cnegrodeg: rgba(0, 0, 0, 0.308);

/* COLORES PARA FUENTES*/
$colorf: (
    t1: #55acee,
    t2: #854113,
    t3: red,
    t4: #851363,
    t5: #638513,
)